/* body{
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
} */

img {
    width: 30%;
    margin: calc(10%/6);
}

@media (max-width: 680px) {
    img {
        width: 45%;
        margin: calc(10%/4);
    }
}

@media (max-width:400px) {
    img {
        width: 95%;
        margin: calc(5%/2);
    }
}