body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: roboto, sans-serif;
    margin: 0;
    background-image: linear-gradient(90deg, rgb(99, 99, 230), rgb(130, 130, 229));
}

.search{
    background-color: #fff;
    color: rgb(36, 35, 35);
    border-radius: 8px;
    align-self: center;
    position: relative;
    height: 50px;
    border:none;
}

.search .input {
    position: absolute;
    background: white;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 15px;
    height:50px;
    width: 50px;
    transition:width 0.3s ease;

}

.btn {
    background:#fff;
cursor: pointer;
    position: absolute;
    font-size: 24px;
    border: 0;
    top: 0;
    left: 0;
    height:50px;
    width: 50px;
    transition:transform 0.3s ease;
}

.btn .input {
    outline: none;
}

.search.active .input {
    width:200px;
    
}

.search.active .btn {
    transform: translateX(198px);
}

