* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.animals-conteiner {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

nav {
    position: absolute;
    top: 10px;
    left: 40px;
    background: transparent;
    z-index: 1;
}

nav a {
    color: #747171;
    text-decoration: none;
}

.nav-active {
    color: white;
    text-decoration: underline;
    text-decoration-color: #26a1e4;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;

}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav li {
    padding: 10px;
}

.bovine,
.sheeps,
.goats {
    filter: blur(3px) grayscale(100%);
    position: relative;
}

.animals-conteiner h1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-weight: 800;
}

.first-letter {
    color: #26a1e4;
}


.bovine {
    width: 33%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sheeps {
    width: 33%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.goats {
    width: 33%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.active {
    filter: grayscale(0%);
}

main {
    color: #545454;
    font-family: Arial, Helvetica, sans-serif;

}

.info-conteiner {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.info-conteiner h2 {
    color: #26a1e4;
}

#inf-link,
#inf-link a {
    color: #26a1e4;
    text-decoration: none;
}

.information-text {
    width: 40%;
}

.information-img {
    width: 40%;
    align-self: center;
}


.samples {
    padding-top: 100px;
    width: 80%;
    margin: auto;
    text-align: left;
}

.samples h2,
.samples h3 {
    text-align: left;
}

.samples h2 {
    color: #26a1e4;

}


th,
td,
table {
    border-spacing: 0px;
}

table {
    width: 100%;
}

th {
    color: #26a1e4;
}

th,
td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #e6ecef;
}

.drugi-red {
    color: #a09c9c;
    padding-top: 5px;
}

footer {
    margin-top: 30px;
    text-align: center;
    width: 100%;
    padding: 30px;
    background-color: #545454;
    color: white;
}

@media screen and (max-width: 768px) {

    nav {
        width: 100%;
        left: 10px;
        overflow: hidden;
    }

    .info-conteiner {
        flex-direction: column;
        justify-content: center;
    }

    .information-img,
    .information-text {
        width: 100%;
        margin-top: 20px;
    }

    .samples {
        width: 95%;
    }
}