* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.animals-conteiner {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.bovine,
.sheeps,
.goats {
    filter: blur(3px) grayscale(100%);
    position: relative;
}

.animals-conteiner h1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 800;
}

.first-letter {
    color: #26a1e4;
}


.bovine {
    width: 33%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sheeps {
    width: 33%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.goats {
    width: 33%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.active {
    filter: grayscale(0%);
}

main {
    color: #545454;
    font-family: Arial, Helvetica, sans-serif;

}

.info-conteiner {
    width: 70%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.info-conteiner h2 {
    color: #26a1e4;
}

#inf-link,
#inf-link a {
    color: #26a1e4;
    text-decoration: none;
}

.information-text {
    width: 40%;
}

.information-img {
    width: 40%;
    align-self: center;
}


.samples {
    padding-top: 100px;
    width: 70%;
    margin: auto;
    text-align: left;
}

.samples h2,
.samples h3 {
    text-align: left;
}

.samples h2 {
    color: #26a1e4;

}


th,
td,
table {
    border-spacing: 0px;
}

table {
    width: 100%;
}

th {
    color: #26a1e4;
}

th, td {
    padding: 10px;
}

tr:nth-child(even)  {
    background-color: #e6ecef;
}

.drugi-red{
    color: #a09c9c;
    padding-top: 5px;
}