<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>You searched for <%= q %></h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione,
      repudiandae! Corporis atque ratione hic tempore corrupti sed dolor
      voluptatibus quisquam. Repudiandae cum porro et aperiam ipsa cumque ea
      eligendi! Ipsam.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione,
      repudiandae! Corporis atque ratione hic tempore corrupti sed dolor
      voluptatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nostrum,
      velit tempore est illum corporis nemo optio adipisci eius cumque incidunt
      commodi rem aperiam praesentium quasi assumenda repudiandae magnam odit?
    </p>
  </body>
</html>
